<div class="col col-12  col-md-8 col-lg-9">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active " id="pricing" role="tabpanel" aria-labelledby="pricing-tab">
      <%= simple_form_for @pricing,url: admin_pricing_path(@pricing) ,method: 'put' do |f| %>
      <div class="tabContent-main pricing-main px-md-3">
        <h5 class="admin-heading px-md-2">Delivery Pricing</h5>
        <div class="pricing-inner px-md-3 px-xl-5">
          <div class="row">
            <div class="col col-12 col-xl-11 offset-xl-1">
              <div class="row pricing-detail align-items-center">
                <div class="col col-12 col-lg-3">
                  <h5 class="admin-heading mb-3 mb-lg-0">Car</h5>
                </div>
                <div class="col col-12 col-lg-9">
                  <div class="row">
                    <div class="col col-12 col-sm-4">
                      <%= f.input :car_base_price,label: false,as: :string,input_html: {class: 'pricing-text decimal_only',  placeholder: 'Base Rate', float: true} %>
                    </div>
                    <div class="col col-12 col-sm-4">
                      <%= f.input :car_small_price,label: false,as: :string,input_html: {class: 'pricing-text decimal_only', placeholder: 'Small / Km', float: true} %>
                    </div>
                    <div class="col col-12 col-sm-4">
                      <%= f.input :car_medium_price,label: false,as: :string,input_html: {class: 'pricing-text decimal_only', placeholder: 'Medium / Km' , float: true} %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pricing-detail align-items-center">
                <div class="col col-12 col-lg-3">
                  <h5 class="admin-heading mb-3 mb-lg-0">Van</h5>
                </div>
                <div class="col col-12 col-lg-9">
                  <div class="row">
                    <div class="col col-12 col-sm-4">
                      <%= f.input :van_base_price,label: false,as: :string,input_html: {class: 'pricing-text decimal_only', placeholder: 'Base Rate',  float: true} %>
                    </div>
                    <div class="col col-12 col-sm-4">
                      <%= f.input :van_large_price,label: false,as: :string,input_html: {class: 'pricing-text decimal_only', placeholder: 'Large / Km', float: true} %>
                    </div>
                    <div class="col col-12 col-sm-4">
                      <%= f.input :van_furniture_price,label: false,as: :string,input_html: {class: 'pricing-text decimal_only', placeholder: 'Furniture / Km', float: true} %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pricing-detail align-items-center">
                <div class="col col-12 col-lg-3">
                  <h5 class="admin-heading mb-3 mb-lg-0">Priority</h5>
                </div>
                <div class="col col-12 col-lg-9">
                  <div class="row">
                    <div class="col col-12 col-sm-4"> 
                      <%= f.input :priority_percentage,label: false,as: :string,input_html: {class: 'pricing-text decimal_only', placeholder: 'Percentage', float: true} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-btn-block row d-flex justify-content-end px-md-3 px-lg-5 mt-2 mt-md-4">
          <div class="col col-sm-3 col-md-4 col-lg-4 col-xl-3">
            <%= f.submit "Update", class: 'btn btn-green btn-lightGreen btn-l w-100' %>
          </div>
        </div>
      </div>
     <% end %>

    </div>  
  </div>
</div>  
<script type="text/javascript">
  // $('#delivery_base_rate_van').inputmask({mask: '99999[.99]'});
  $(".decimal_only").on("input", function(evt) {
   var self = $(this);
   self.val(self.val().replace(/[^0-9\.]/g, ''));
   if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
   {
     evt.preventDefault();
   }
 });
</script>