  <div class="deliveryListing-canvas">
    <div class="container">
      <div class="d-flex justify-content-between content-search">
        <div class="btn-group btn-group-delivery" role="group" aria-label="Basic example">
          <!-- <button class="btn btn-new text-uppercase" type="button">New</button>
          <button class="btn btn-trash" type="button">
            <span>
              <%#= image_tag "garbage.png" , width: "20" %>
            </span>
          </button> -->
        </div> 
        <%= simple_form_for :search , url: active_deliveries_path ,html: {class: "form-inline"} , method: :get do |f| %>
          <div class="form-group search-group m-0">
            <%= f.input :query ,input_html: {value: params[:search].present? ? params[:search][:query] : nil,class: "form-control search-field text-uppercase"},placeholder: "Search", label: false %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container-fluid">
      <div class="deliveryListing-content pt-3">
        <div class="row">
          <div class="col col-12 col-lg-8">
            <div class="delivery-listing">
              <div class="dl-overflow">
                <div class="dl-head position-relative d-flex align-items-center justify-content-between">
                  <div class="dl-block dl-block-1 d-flex align-items-center">
                    <h5 class="dl-heading">
                      Ref
                      <span class="d-inline-block ml-2">
                        <%= image_tag('sort.png',alt: 'sort-IMG') %>
                      </span>
                    </h5>
                  </div>
                  <div class="dl-block dl-block-2 d-flex align-items-center">
                    <h5 class="dl-heading">
                      Date
                      <span class="d-inline-block ml-2">
                        <%= image_tag('sort.png',alt: 'sort-IMG') %></span>
                    </h5>
                  </div>
                  <div class="dl-block dl-block-3 d-flex align-items-center">
                    <h5 class="dl-heading">From</h5>
                  </div>
                  <div class="dl-block dl-block-4 d-flex align-items-center">
                    <h5 class="dl-heading">Destination</h5>
                  </div><!-- 
                  <div class="dl-block dl-block-5 d-flex align-items-center">
                    <h5 class="dl-heading">Tracking</h5>
                  </div> -->
                  <div class="dl-block dl-block-6 d-flex align-items-center">
                    <h5 class="dl-heading">
                      Status
                      <span class="d-inline-block ml-2">
                        <%= image_tag('sort.png',alt: 'sort-IMG') %></span>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="dl-main">
                 <% @dropoffs.each do |dropoff| %>
                <div class="dl-overflow">
                  <div class="card card-dl d-flex align-items-center justify-content-between">
                    <div class="card-header d-flex align-items-center justify-content-between w-100 collapsed" id="headingTwo" data-toggle="collapse" data-trackingurl="<%= dropoff.tracking_url %>" data-target="#collapseTwo<%= dropoff.id %>" aria-expanded="true" aria-controls="collapseTwo">
                      <div class="dl-block-f dl-block-1 d-flex align-items-center">
                        <p class="dl-text"><%= dropoff.reference_no.present? ? dropoff.reference_no.first(6) : '' %></p>
                      </div>
                      <div class="dl-block dl-block-2 d-flex align-items-center">
                        <p class="dl-text"><%= dropoff.created_at.strftime("%Y-%m-%d") %></p>
                      </div>
                      <div class="dl-block dl-block-3 d-flex align-items-center">
                        <p class="dl-text"><%= dropoff.delivery.pickup.present? ? dropoff.delivery.pickup.address : '' %></p>
                      </div>
                      <div class="dl-block dl-block-4 d-flex align-items-center">
                        <p class="dl-text"><%= dropoff.address  %></p>
                      </div>
                      <!-- <div class="dl-block dl-block-5 d-flex align-items-center">
                        <p class="dl-text">
                          <a target="_blank" rel="noopene" href="<%#= delivery.tracking_url %>" class= "track-badge d-inline-block">Track</a>
                        </p>
                      </div> -->
                      <div class="dl-block dl-block-6 d-flex align-items-center">
                        <p class='dl-text dl-status dl-status-<%= dropoff.state == "cancelled" ? 'cancel' : dropoff.state == "completed" ?  'complete' : 'active' %>'>
                          <%= dropoff.state %>
                        </p>
                      </div>
                    </div>
                    <div id="collapseTwo<%= dropoff.id %>" class="collapse w-100" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body driver-detail d-flex align-items-center justify-content-around">
                        <% if dropoff.driver.present? %>
                          <div class="driver-img">
                            <span class="d-inline-block d-flex align-items-center justify-content-center">
                              <img src="<%= dropoff.driver.photo_url %>" alt="driver-IMG"></span>
                          </div>
                          <div class="driver-name">
                            <span class="d-inline-block">Driver: <%= dropoff.driver.driver_name %></span>
                          </div>
                          <div class="driver-contact">
                            <span class="d-inline-block">Contact: <%= dropoff.driver.phone_number %></span>
                          </div>
                      <% end %>

                       <% if  dropoff.state == "cancelled" or dropoff.state == "completed" %>
                        <% else %>
                        <!-- Button trigger modal -->
                          <button type="button" class="btn btn-white btn-listings" data-toggle="modal" data-target="#exampleModal<%= dropoff.id %>">Cancel
                          </button>

                        <div class="modal fade" id="exampleModal<%= dropoff.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-body px-3 py-4">
                                <p class="mb-0">Do you want to cancel it?</p>
                              </div>
                              <div class="modal-footer px-3 d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <%= link_to 'Yes', cancel_delivery_url("#{dropoff.reference_no.present? ?  dropoff.reference_no : 'a'}"), method: :post,class:  "btn btn-new bg-white" %>
                              </div>
                            </div>
                          </div>
                      </div>
                        
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <%= will_paginate @dropoffs %>
          </div>
          <div class="col col-12 col-lg-4">
            <div class="deliveryListing-map mt-5 mt-lg-0 text-center">
              <div class="map-view">
                <iframe src="">
                  
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  $('#headingTwo').on('click', function(){
    var $this =  $(this);
    var trackingURL = $this.data('trackingurl');
    $('iframe').css({width: '400px',
    height: '300px'})
    $('iframe').attr('src', trackingURL);
  })
</script>
<style ></style>