<div class="col col-12  col-md-8 col-lg-9">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="deliveryJob" role="tabpanel" aria-labelledby="deliveryJob-tab">
      <div class="tabContent-main deliveryJob-main pl-lg-4">
        <div class="d-flex justify-content-end mb-4 pb-md-3">
          <a href="#" class="plus-link">+</a>
        </div>
        <div class="deliveryJob-searchBar mb-4 pb-md-3">
          <%= simple_form_for :search , url: admin_jobs_path , method: :get do |f| %>
           <div class="row align-items-center">
              <div class="col col-12 col-lg-3 text-lg-right">
                <h5 class="admin-heading mb-3 mb-lg-0">User Job</h5>
              </div>
              <div class="col col-12 col-sm-8 col-lg-6">
                <div class="form-group mb-3 mb-sm-0">
                  <%= f.input :query ,input_html: {value: params[:search].present? ? params[:search][:query] : nil,class: "form-control form-field form-field-l"},placeholder: "job Reference",label: false %>
                </div>
              </div>
              <div class="col col-12 col-sm-4 col-lg-3">                
                <%=  f.submit "Search", class: 'btn btn-green btn-lightGreen btn-l w-100'%>  
              </div>
            </div> 
        <% end %>
        </div>
        <div class="deliveryJob-innerContent">
          <div class="overflow-x-auto">
            <div class="deliveryJob-block deliveryJob-head d-flex align-items-center justify-content-between">
              <div class="db-box db-box-1">
                <h6>Ref</h6>
              </div>
              <div class="db-box db-box-2">
                <h6>Status</h6>
              </div>
              <div class="db-box db-box-3">
                <h6>Pick Up</h6>
              </div>
              <div class="db-box db-box-4">
                <h6>Drop Off</h6>
              </div>
              <div class="db-box db-box-5">
                <h6>User Created</h6>
              </div>
              <div class="db-box db-box-6">
                <h6>Payment Status</h6>
              </div>
            </div>
          </div>
          <div class="deliveryJob-container">
            <% @dropoffs.each do |dropoff| %>
              <div class="overflow-x-auto">
                <div class="deliveryJob-block deliveryJob-body d-flex align-items-center justify-content-between">
                  <div class="db-box db-box-1">
                    <h6><%= dropoff.reference_no.first(6) %></h6>
                  </div>
                  <div class="db-box db-box-2">
                    <h6><%= dropoff.state.capitalize %></h6>
                  </div>
                  <div class="db-box db-box-3"> 
                    <h6><%= dropoff.delivery.pickup.present? ? dropoff.delivery.pickup.address.first(6) : '' %></h6>
                  </div>
                  <div class="db-box db-box-4">
                    <h6><%= dropoff.address.first(6) %></h6>
                  </div>
                  <div class="db-box db-box-5">
                    <h6><%= dropoff.user.email.first(5).capitalize %></h6>
                  </div>
                  <div class="db-box db-box-6">
                    <a href="#exampleModal<%= dropoff.id %>" data-toggle="modal" class="edit-btn ml-3" data-target="#exampleModal<%= dropoff.id %>">
                      Edit
                      <span class="db-arrow">
                        <%= image_tag "right-arrow.png" ,alt: "IMG",  width: "9"%>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="modal fade" id="exampleModal<%= dropoff.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-body px-3 py-4">
                        
                                <table class="pull-left col-md-12 ">
                                 <tbody>
                                     <tr>
                                         <td ><strong>Pickup First name</strong></td>
                                         <td ><%= dropoff.delivery.pickup.first_name %></td>
                                     </tr>
                                     
                                     <tr>
                                         <td><strong>Pickup last name</strong></td>
                                         <td ><%= dropoff.delivery.pickup.last_name %></td>
                                     </tr>
                                     
                                     <tr>
                                         <td><strong>Pickup Address</strong></td>
                                         <td ><%= dropoff.delivery.pickup.address %></td>
                                     </tr>
                                     
                                     <tr>
                                         <td><strong>Pickup Phone Number</strong></td>
                                         <td><%= dropoff.delivery.pickup.phone_number %></td>
                                     </tr>
                                     
                                     <tr>
                                         <td><strong>Pre Order</strong></td>
                                         <td><%= dropoff.delivery.pre_order ==  true ? 'YES' : 'No' %></td>
                                     </tr>
                                    <% if dropoff.delivery.pre_order == true %>
                                     <tr>
                                         <td><strong>
                                        Pre Order Date 
                                        </strong></td>
                                         <td><%= dropoff.delivery.pre_order_date %></td>
                                     </tr>  
                                     <% end %>
                                     <tr>
                                         <td><strong>Dropoff First Name</strong></td>
                                         <td><%= dropoff.first_name %></td>
                                     </tr>                            

                                     <tr>
                                         <td><strong>Dropoff last Name</strong></td>
                                         <td><%= dropoff.last_name %></td>
                                     </tr>

                                     <tr>
                                         <td><strong>Dropoff Address</strong></td>
                                         <td><%= dropoff.address %></td>
                                     </tr> 
                                     <tr>
                                         <td><strong>Dropoff Phone</strong></td>
                                         <td><%= dropoff.phone_number %></td>
                                     </tr> 
                                     <tr>
                                         <td><strong>Dropoff Address</strong></td>
                                         <td><%= dropoff.address %></td>
                                     </tr>
                                     <tr>
                                      <td>
                                      <strong>
                                        Item Details : 
                                      </strong>
                                      </td>
                                      <td></td>
                                     </tr>
                                      <% dropoff.delivery.items.each do |item| %>
                                     <tr>
                                         <td><strong>Size</strong></td>
                                         <td><%= item.size %></td>
                                     </tr> 
                                     <tr>
                                         <td><strong>Description</strong></td>
                                         <td><%= item.description %></td>
                                     </tr> 
                                    <% end %> 
                                 </tbody>
                                </table>
                              </div>
                              <div class="modal-footer px-3 d-flex justify-content-end align-items-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                      </div>
               </div>
            <% end %>
          </div>
          <%= will_paginate @dropoffs %>
        </div>
      </div>
    </div>
   
    <div class="tab-pane fade" id="queryData" role="tabpanel" aria-labelledby="queryData-tab">...</div>
  </div>
</div>

