  <div class="delivery-dropOff-canvas mt-4">
    <div class="container dropoffs">
      <%= simple_form_for @delivery, url: wizard_path, html: {class: "delivery-form dropOff-form", id: "dropOff-form"} do |f| %> 
      <input type="hidden" name="commit">
        <div class="delivery-dropOff">
          <div class="dropOff-heading d-flex align-items-center">
            <h4>Drop Off</h4>
            <%= link_to_add_association f, :dropoffs,  
              'data-association-insertion-method'    => 'append' ,
              'data-association-insertion-node'      => '.delivery-dropOff',
              'data-association-insertion-traversal' => 'closest',
              class: "plus-link d-inline-block", id: "add_dropoff" do %>
              <%= image_tag  "plus-icon.png", alt: "plus-IMG", width: "35" %>
            <% end %>
          </div> 
        </div>
      <%= f.fields_for :dropoffs do |ff| %>
          <%= render partial: 'dropoff_fields',locals: {f: ff} %>  
       <% end %>    
      </div>
      <div class="item-detail pt-3">
        <div class="dropOff-heading d-flex align-items-center">
          <h4>Item Details</h4>
          <%= link_to_add_association f, :items,  
              'data-association-insertion-method'    => 'append' ,
              'data-association-insertion-node'      => '.item-detail',
              'data-association-insertion-traversal' => 'closest',
              class: "plus-link d-inline-block", id: "add_dropoff" do %>
              <%= image_tag  "plus-icon.png", alt: "plus-IMG", width: "35" %>
            <% end %>
        </div>
        <%= f.fields_for :items do |ff| %>
          <%= render partial: 'item_fields',locals: {f: ff} %>  
        <% end %>    
      </div>
      <div class="deliveryItem-btns pt-sm-4 d-flex align-items-start justify-content-between flex-column-reverse flex-sm-row">
        <%= link_to 'Back', previous_wizard_path, class: "btn btn-back btn-back-green text-uppercase" %>
        <div class="d-flex w-100-m">

        <%= f.submit 'Save Draft', class: "btn save_draft btn-white mr-1 mr-sm-3 mb-3 mb-sm-0 text-uppercase w-100-m"%>
        <div class="btnNext-box btn btn-next btn-next-green ml-1 ml-sm-0 mb-3 mb-sm-0 position-relative">
          <%= f.submit 'Next', class: "save_submit text-uppercase w-100-m" %>
        </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>

<%= javascript_include_tag 'steps.js' %>