<div class="off-canvas">
  <div class="delivery-dropOff-canvas mt-4">
    <div class="container dropoffs">
      <%= simple_form_for @delivery, url: wizard_path, html: {class: "delivery-form dropOff-form", id: "dropOff-form"} do |f| %> 
      <input type="hidden" name="commit">
        <div class="delivery-dropOff">
          <div class="dropOff-heading d-flex align-items-center">
            <h4>Drop Off</h4>
            <%= link_to_add_association f, :dropoffs,  
              'data-association-insertion-method'    => 'append' ,
              'data-association-insertion-node'      => '.delivery-dropOff',
              'data-association-insertion-traversal' => 'closest',
              class: "plus-link d-inline-block", id: "add_dropoff" do %>
              <%= image_tag  "plus-icon.png", alt: "plus-IMG", width: "35" %>
            <% end %>
          </div> 
        </div>
      <%= f.fields_for :dropoffs do |ff| %>
          <%= render partial: 'dropoff_fields',locals: {f: ff} %>  
       <% end %>    
      </div>
      <div class="item-detail pt-3">
        <div class="dropOff-heading d-flex align-items-center">
          <h4>Item Details</h4>
          <%= link_to_add_association f, :items,  
              'data-association-insertion-method'    => 'append' ,
              'data-association-insertion-node'      => '.item-detail',
              'data-association-insertion-traversal' => 'closest',
              class: "plus-link d-inline-block", id: "add_dropoff" do %>
              <%= image_tag  "plus-icon.png", alt: "plus-IMG", width: "35" %>
            <% end %>
        </div>
        <%= f.fields_for :items do |ff| %>
          <%= render partial: 'item_fields',locals: {f: ff} %>  
        <% end %>    
      </div>
      <div class="deliveryItem-btns pt-sm-4 d-flex align-items-start justify-content-between flex-column-reverse flex-sm-row">
        <%= link_to 'Back', previous_wizard_path, class: "btn btn-back btn-back-green text-uppercase" %>
        <div class="d-flex w-100-m">

        <%= f.submit 'Save Draft', class: "btn save_draft btn-white mr-1 mr-sm-3 mb-3 mb-sm-0 text-uppercase w-100-m"%>
        <%= f.submit 'Next', class: "btn btn-next save_submit btn-next-green ml-1 ml-sm-0 mb-3 mb-sm-0 text-uppercase w-100-m" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  // limits the number of categories
  $('.delivery-dropOff').on('cocoon:after-insert', function() {
    check_to_hide_or_show_add_link();
  });

  $('.delivery-dropOff').on('cocoon:after-remove', function() {
    check_to_hide_or_show_add_link();
  });

  check_to_hide_or_show_add_link();

  function check_to_hide_or_show_add_link() {
    if ($('.delivery-dropOff .singledropoff').length == 5) {
      $('#add_dropoff').hide();
    } else {
      $('#add_dropoff').show();
    }
  }
})
  function check_for_active_size(){
    var parent = $("input[type='radio']:checked").parent().parent();
    parent.addClass('active').siblings().removeClass('active');
  }
  check_for_active_size();
  $(".item-size").on("click", function(){
    $(this).addClass("active").siblings().removeClass("active");
  })
  $("input[type='radio']").change(function(){
    var $this =  this;
    var parent_div =  this.parent().parent();
    parent_div.addClass('active').siblings().removeClass('active');
  })
  
  $('.delivery-dropOff').on('cocoon:after-insert', function(e, inserted_item){
      var num = $('.dropoff-field').length;
      var id = makeid();
      inserted_item.find('.dropoff-heading').attr('data-target','#collapseThree'+id)
      inserted_item.find('#collapseOne').attr('id','collapseThree'+id);
      var array =$(this).find("input");
      array.toArray().forEach(function(ele){$(ele).rules('add','required')});
      inserted_item.find('.dropoff-field').html('Dropoff '+num);
    }
   ) 
  $('.item-detail').on('cocoon:after-insert', function(e, inserted_item){
      var num = $('.item-h').length;
      var id = makeid();
      inserted_item.find('.item-heading').attr('data-target','#collapseOne'+id)
      inserted_item.find('#collapseThree').attr('id','collapseOne'+id);
      var array =$(this).find("input");
      array.toArray().forEach(function(ele){$(ele).rules('add','required')});
      inserted_item.find('.item-h').html('Item '+num);
    }
   )
  if($('.dropoff-h').length == 1){
    $(".dropoff-heading").click();
  };
  if($('.item-h').length == 1){
    $(".item-heading").click();
  };

  function makeid() {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for (var i = 0; i < 5; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
  }

  $("#dropOff-form").validate({

    rules: {
          "delivery[dropoffs_attributes][0][first_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][0][last_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][0][phone_number]": {
              required: true
          },
          "delivery[dropoffs_attributes][0][address]": {
              required: true
          },
          "delivery[dropoffs_attributes][0][delivery_instructions]": {
              required: true
          },

          "delivery[dropoffs_attributes][1][first_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][last_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][phone_number]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][address]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][delivery_instructions]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][first_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][last_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][phone_number]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][address]": {
              required: true
          },
          "delivery[dropoffs_attributes][1][delivery_instructions]": {
              required: true
          },
          "delivery[dropoffs_attributes][2][first_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][2][last_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][2][phone_number]": {
              required: true
          },
          "delivery[dropoffs_attributes][2][address]": {
              required: true
          },
          "delivery[dropoffs_attributes][2][delivery_instructions]": {
              required: true
          },

          "delivery[dropoffs_attributes][4][first_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][4][last_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][4][phone_number]": {
              required: true
          },
          "delivery[dropoffs_attributes][4][address]": {
              required: true
          },
          "delivery[dropoffs_attributes][4][delivery_instructions]": {
              required: true
          },
          "delivery[dropoffs_attributes][5][first_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][5][last_name]": {
              required: true
          },
          "delivery[dropoffs_attributes][5][phone_number]": {
              required: true
          },
          "delivery[dropoffs_attributes][5][address]": {
              required: true
          },
          "delivery[dropoffs_attributes][5][delivery_instructions]": {
              required: true
          },
          "delivery[items_attributes][0][description]": {
            required: true
          },
          "delivery[items_attributes][1][description]": {
            required: true
          },
          "delivery[items_attributes][2][description]": {
            required: true
          },
          "delivery[items_attributes][3][description]": {
            required: true
          },
          "delivery[items_attributes][4][description]": {
            required: true
          },
          "delivery[items_attributes][5][description]": {
            required: true
          },
          "delivery[items_attributes][6][description]": {
            required: true
          }
      },
      submitHandler: function(form) { // <- pass 'form' argument in
        $(".save_submit").attr("disabled", true);
        form.submit(); // <- use 'form' argument here.
      }
  })
  $('.save_draft').click(function(e){
    e.preventDefault()
    var array =$('.dropOff-form').find("input");
    array.toArray().forEach(function(ele){$(ele).rules('remove','required')});
    $('.dropOff-form').find('input[name="commit"]').val("Save Draft")
    $('.dropOff-form').submit()

  })
</script>