  <div class="login-canvas">
    <div class="container">
      <div class="row">
        <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <div class="border-box position-relative">
            <h4 class="borderBox-heading m-0 font-weight-bold">Change password</h4>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.hidden_field :reset_password_token %>

              <div class="form-group">
                <%= f.label :password, "New password", class: "font-weight-bold form-label pl-md-3" %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control form-field"  %>
                 <%= error_message_on(f.object, :password) %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, "Confirm new password", class: "font-weight-bold form-label pl-md-3" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-field"  %>
                 <%= error_message_on(f.object, :password_confirmation) %>
              </div>

                <%= f.submit "Change my password", class: "btn btn-white"  %>
            <% end %>
          </div>

          <div class="px-5 mt-5 loginLinks-block">
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
