<div class="col col-12  col-md-8 col-lg-9">
  <div class="tab-content" id="myTabContent"> 
    <div class="tab-pane fade show active" id="userAccount" role="tabpanel" aria-labelledby="userAccount-tab">
      <div class="tabContent-main userAccount-main pl-lg-4">
        <div class="d-flex justify-content-end mb-4 pb-md-3">
          <a href="#" class="plus-link">+</a>
        </div>
        <div class="deliveryJob-searchBar mb-4 pb-md-3">
          <%= simple_form_for :search , url: admin_users_path , method: :get do |f| %>
           <div class="row align-items-center">
              <div class="col col-12 col-lg-3 text-lg-right">
                <h5 class="admin-heading mb-3 mb-lg-0">User Name</h5>
              </div>
              <div class="col col-12 col-sm-8 col-lg-6">
                <div class="form-group mb-3 mb-sm-0">
                  <%= f.input :query ,input_html: {value: params[:search].present? ? params[:search][:query] : nil,class: "form-control form-field form-field-l"},placeholder: "User Name",label: false %>
                </div>
              </div>
              <div class="col col-12 col-sm-4 col-lg-3">                
                <%=  f.submit "Search", class: 'btn btn-green btn-lightGreen btn-l w-100'%>  
              </div>
            </div> 
        <% end %>
        </div>
        </div>
        <div class="userAccount-innerContent">
          <% @users.each do |user| %>
            <div class="userAccount-block d-flex align-items-center justify-content-between">
              <div class="userAccount-user d-flex align-items-center">
                <div class="user-img mr-3">
                  <%= image_tag 'person.png', alt: 'IMG', width: '22' %>
                </div>
                <span class="user-name">
                  <%= user.full_name.capitalize %>
                </span>
              </div>
              <a href="#" class="edit-btn ml-3">
                Edit
                <span class="db-arrow">
                  <%= image_tag 'right-arrow.png', alt: 'IMG', width: '9'%>
                </span>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>