<div class="col col-12 col-md-4 col-lg-3">
  <div class="admin-block d-flex align-items-center justify-content-center text-center">
    <div class="admin-inner">
      <div class="admin-img">
        <span class="d-flex align-items-center justify-content-center mx-auto">
          <%= image_tag 'person.png', alt: 'admin-IMG', width: '40'%>
        </span>
      </div>
      <div class="admin-detail mt-4">
        <h6 class="admin-name font-weight-bold">
          <%= current_user.full_name.first(13).capitalize %>
        </h6>
        <h6 class="admin-post mb-0">Administrator</h6>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs dashboard-tabs flex-column" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link <%= current_page?(admin_delivery_jobs_url) ? 'active' : '' %>" id="deliveryJob-tab"  href="<%= admin_delivery_jobs_url %>" role="tab"  aria-selected="true">Delivery Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= current_page?(admin_user_accounts_url) ? 'active' : '' %>" id="userAccount-tab"" href="<%= admin_user_accounts_url %>" role="tab" aria-selected="false">User Accounts</a>
    </li>
    <li class="nav-item  <%= current_page?(admin_pricing_url) ? 'active' : '' %>">
      <a class="nav-link" id="pricing-tab"  href="<%= admin_pricing_url %>" role="tab"  aria-selected="false">Pricing</a>
    </li>
    <li class="nav-item  <%= current_page?(admin_data_query_url) ? 'active' : '' %>">
      <a class="nav-link" id="queryData-tab"  href="<%= admin_data_query_url %>" role="tab" aria-selected="false">Query Data</a>
    </li>
  </ul>
</div>